on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "src/**"
      - "static/**"
      - "yarn.lock"
      - "docusaurus.config.ts"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
      - name: Enable Corepack
        run: corepack enable
      - name: Set Yarn version
        run: corepack prepare yarn@4.12.0 --activate
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build
  deploy:
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
